<!DOCTYPE html>
<html>
  <head>
    <title>Editor de Texto em Tempo Real</title>
  <head>
  <body>
    <h2>Editor de Texto</h2>
    <textarea id="editor" rows="10" cols="50" disabled></textarea>
    <div class="cursor" id="cursor-box"></div>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script type="text/javascript">
      var socket = io.connect("http://ip_adress_aqui:5000");
      var cursorBox = document.getElementById("cursor-box");
      var editor = document.getElementById("editor");
      var lastTimestamp = 0;
      
      socket.on("connect", function () {
        console.log("Conectado com sucesso!");
        socket.emit("get_text");
        editor.disabled = false; // Habilita a edição
      });
      
      socket.on("disconnect", function () {
        console.log("Conexão perdida!");
        editor.disabled = true; // Desabilita a edição
      });

      socket.on("text_update", function (data) {
        // Verifica se o timestamp recebido é mais recente
        if (data.timestamp > lastTimestamp) {
          document.getElementById("editor").value = data.text;
          lastTimestamp = data.timestamp;
        }
      });
      
      editor.addEventListener("input", function () {
        var text = editor.value;
        // Gera um timestamp para a atualização
        var timestamp = Date.now();
        socket.emit("text_update", { text: text, timestamp: timestamp });
      });
      
      
      document.addEventListener("mousemove", function (event) {
        var editorPosition = editor.getBoundingClientRect();
        var cursorPosition = {
          x: event.pageX - editorPosition.left,
          y: event.pageY - editorPosition.top,
        };
        socket.emit("cursor_position", cursorPosition);
      });
      
      
      socket.on("all_cursor_positions", function (cursorPositions) {
        cursorBox.style.display = "none";
        for (var socketId in cursorPositions) {
          if (socketId !== socket.id) {
            var cursorPosition = cursorPositions[socketId];
            showCursorPosition(cursorPosition);
          }
        }
      });

      // Identificação visual do cursor de outros usuários
      function showCursorPosition(cursorPosition) {
        cursorBox.style.left = cursorPosition.x + "px";
        cursorBox.style.top = cursorPosition.y + "px";
        cursorBox.style.display = "block";
      }
    </script>

    <style>
      .cursor {
        position: absolute;
        width: 2px;
        height: 20px;
        background-color: red;
      }
    </style>
  </body>
</html>